@font-face {
  font-family: 'Righteous';
  src: url('./Righteous-Regular.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Righteous';
  background: url('./heart.png');
  font-size: 26px;
}
